select{
    border:#F4AF23;
    border-style: double;
    background-color: #3C1053;
    color: #D7A9E3;
    width: 97.5%;
    font-size: 200%;
    margin: auto;
    padding: 1%;
    float: left;
    display: block;
}
button{
    text-align: center;
    color:#D7A9E3;
    background-color: #3C1053;
    padding: 1%;
    border:#F4AF23;
    border-style: groove;
    font-size: 3vw;
    
  }
h1{
    color: #F4AF23;
    font-size: 4.7vw;
    text-align: center;
}
input{
    
    border:#F4AF23;
    border-style: double;
    background-color: #3C1053;
    color: #D7A9E3;
    width: 95%;
    font-size: 200%;
    margin: auto;
    padding: 1%;
    float: left;
    display: block;
}
li{
    display: inline;
    background-color: #3C1053;
    color: #D7A9E3;
    border-color: #F4AF23;
    font-size: 25px;
    float: left;
    width: 25%;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #F4AF23;
  }
  li a:visited{
    color: #4AC9E3
  }
  .picker{
    background-color: #D7A9E3;
  }
  
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #3C1053;
    border-color: #F4AF23;
    border-style: double;
  }
  ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{ 
    color: #D7A9E3;
  }
  ::ng-deep .mat-datepicker-content{
    color: #D7A9E3;
  }

p, label{  /*  Added label  */
    color: #D7A9E3;
    font-size: 2.5vw;
}
