<h1 id="heading">Add a New Service</h1>
    <br>
    <div class="selections">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
<input type="text" id="usrInpName" name="usrInpName"><p>What is the Service's Name?</p> <br>
<input type="text" id="usrInpCost" name="usrInpCost"><p>What Does the Service Cost per Billing Period?</p> <br>
<select name="billingPd" id="billingPd">
    <option value="mnthDate">The Same Day Every Month</option>
    <option value="mnthSet">Every Exactly 30 Days</option>
    <option value="wkly">Weekly - Every 7 Days</option>
    <option value="yrlySet">Every 365 Days</option>
    <option value="yrlyDate">The Same Day Every Year</option>
    <option value="biwk">Every 14 Days</option>
</select> <p>What is the Billing Period?</p> <br>
</div>
<button (click)="makeNewBill()">Create Service</button>