
<div class="navbar">
    <ul>
      <li><a routerLink="/">Show All</a></li>
      <li><a routerLink="/add">Create New</a></li>
      <li><a routerLink="/transpose">Modify Existing</a></li>
      <li><a routerLink="/subtract">Delete Old</a></li>
    </ul>
    </div>
<h1>Delete a Service</h1>
<h2>Select a service to delete:</h2>
<select name="servicesToKill">
  <ng-container *ngFor="let service of json">
    <option>{{service.service}}</option>
  </ng-container>
</select>
<button>Delete service</button>
