
.cards {
    display: flex;
    justify-content: space-between;
  }

  mat-card{
    align-content: center;
    align-items: center;
    background-color: #F4AF23;
    border-color: #4AC9E3;
    border-style:double;
    border-width: 5pt;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  mat-card-header{
    font-size: 50pt;
    color: #3C1053;
  }
  mat-card-title{
    font-size: 100pt;
    background-color: #3C1053;
    width: 90%;
    align-items:center;
    color: #4AC9E3;
  }
  mat-grid-list{
    background-color:#3C1053;
    border: #F4AF23;
    border-style: groove;
    color: #D7A9E3;
  }