<div class="heading">
    Coming Up
</div>
<div id="cards">
    <div class="row">
    <mat-card>
      <mat-card-header>Test Head 1</mat-card-header>
      <mat-card-title>Test Title 1</mat-card-title>
      <mat-card-subtitle> Test Sub 1</mat-card-subtitle>
      <mat-card-content>Test Content 1</mat-card-content>
      <mat-card-footer>Test Footer 1</mat-card-footer>
      <mat-card-actions>
          <button>Test Button</button>
      </mat-card-actions>
  </mat-card>
  <mat-card>
      <mat-card-header>Test Head 2</mat-card-header>
      <mat-card-title>Test Title 2</mat-card-title>
      <mat-card-subtitle> Test Sub 2</mat-card-subtitle>
      <mat-card-content>Test Content 2</mat-card-content>
      <mat-card-footer>Test Footer 2   </mat-card-footer>
      <mat-card-actions>
          <button>Test Button</button>
      </mat-card-actions>
  </mat-card>
</div>
  </div>
 
