*{
  text-align: center;
}

  mat-card{
    background-color: #3C1053;
    border-color: #F4AF23;
    border-style:double;
    border-width: 5pt;
  }
  mat-card-header{
    font-size: 50pt;
    color: #D7A9E3;
  }
  mat-card-title{
    font-size: 50pt;
    background-color: #3C1053;
    color: #4AC9E3;
  }
  mat-grid-list{
    background-color:#3C1053;
    border: #F4AF23;
    border-style: groove;
    color: #D7A9E3;
  }
  .heading{
    font-size: 60pt;
    color:#3C1053;
    padding-bottom: 5pt;
  }