<div class="row">
  <div class="column left">Service Name
    <ol>
      <ng-container *ngFor="let data of json">
        <li>{{data.service}}</li>
      </ng-container>
    </ol>
  </div>
  <div class="column middle">Price
    <ol>
      <ng-container *ngFor="let cost of json">
        <li>{{cost.price | currency: "USD"}}</li>
      </ng-container>
    </ol>
  </div>
  <div class="column right">Days Until Due
    <ol>
      <ng-container *ngFor="let due of json">
        <li>{{due.dueDate | date: 'MMMM d'}}</li>
      </ng-container>
    </ol>
  </div>
</div>
<br>
