<div class="row">
    <div class="column left">Service Name
      <ol>
       <ng-container *ngFor="let name of currNames">
          <li>{{name}}</li>
       </ng-container>
      </ol>
    </div>
    <div class="column middle">Price
      <ol>
        <ng-container *ngFor="let cost of json">
          <li>{{cost.price}}</li>
        </ng-container>
      </ol>
      </div>
    <div class="column right">Days Until Due
      <button onclick="sortServices()">Sort by due date</button>
      <ol>
        <ng-container *ngFor="let due of json">
          <li>{{due.dueDate}}</li>
        </ng-container>
      </ol>
    </div>
  </div>
<br>
<p></p>
  



