


button{
  text-align: center;
  color:#D7A9E3;
  background-color: #3C1053;
  padding: 1%;
  border:#F4AF23;
  border-style: groove;
  font-size: 250%;
  
}
.column {
    border:#F4AF23;
    border-style: double;
    background-color: #3C1053;
    color: #D7A9E3;
    width: 100%;
    font-size: 200%;
    margin: auto;
    padding: 1%;
    float: left;
    display: block;
  }
  
  .middle, .right {
    width: 25%;
  }
  
  .left {
    width: 40%;
  }

figcaption{
    color: #D7A9E3;
    font-size: 20pt;
  }

ul{
    align-content: center;
  justify-content: space-between;
  vertical-align: top;
  float: left;
  }
  .ulComp{
    display: flex;
    align-content: center;
  justify-content: space-between;
  }