
<div class="navbar">
    <ul>
      <li><a routerLink="/">Show All</a></li>
      <li><a routerLink="/add">Create New</a></li>
      <li><a routerLink="/transpose">Modify Existing</a></li>
      <li><a routerLink="/subtract">Delete Old</a></li>
    </ul>
    </div>
<p>Select a Service:</p>
<!-- Add list here -->
<form #changeServiceForm="ngForm" (ngSubmit)="onModification(changeServiceForm.value)">
<p>Name:</p>
<input type="text" name="service" ngModel>
<p>Cost:</p>
<input type="text" name="price" ngModel>
<p>Next Payment:</p>
<input type="text" name="dueDate" ngModel>
<input type="submit" value="Change Service">
</form>