
<h1>Select a Service:</h1>
<!-- Add list here -->
<select name="servicesToChange">
    <ng-container *ngFor="let service of json">
      <option>{{service.service}}</option>
    </ng-container>
  </select>
<form #changeServiceForm="ngForm" (ngSubmit)="onModification(changeServiceForm.value)">
<p>Name:</p>
<input type="text" name="service" id="usrInpName" ngModel>
<p>Cost:</p>
<input type="text" name="price" id="usrInpCost" ngModel>
<p>Billing Period:</p>
<select name="billingPd" id="billingPd">
  <option value="mnthDate">The Same Day Every Month</option>
  <option value="mnthSet">Every Exactly 30 Days</option>
  <option value="wkly">Weekly - Every 7 Days</option>
  <option value="yrlySet">Every 365 Days</option>
  <option value="yrlyDate">The Same Day Every Year</option>
  <option value="biwk">Every 14 Days</option>
</select>
<p>Next Payment:</p>
<mat-form-field>
  <input matInput [matDatepicker]="picker" id="datePickerID">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<input type="submit" value="Update Service">
</form>