<!DOCTYPE html>
<html>
<body>
<h1>Cost Catcher</h1>
<p>Developed by SteBen Industries&trade;</p>



<!--<div class="row">
    <div class="column">
        Header
    </div>
    <div class="column">
        List
    </div>
</div>-->


<mat-grid-list cols="2" id="griddy">
    <mat-grid-tile>One</mat-grid-tile>
    <mat-grid-tile>Two</mat-grid-tile>
</mat-grid-list>
<div class="row">
    <div class="column left">One</div>
    <div class="column middle">Two</div>
    <div class="column right">Three</div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="modifierbuttons">
    <button id="addbill">Add New Bill</button>
    <button id="removebill">Remove Bill</button>
</div>

    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
</body>
</html>