<!--
        Pretty self-explanatory
        Login info at the top, then the logo
        Sorted by priority after that
-->
<!DOCTYPE html>
<html>
<body>
<h1>Cost Catcher</h1>
<p>Developed by SteBen Industries&trade;</p>
<div class="dropdown">
        <button class="optionsBtn">Options</button>
        <div class="options">
          <a href="add">Create a Service</a>
          <a href="transpose">Modify a Service</a>
          <a href="subtract">Delete a Service</a>
        </div>
      </div>
<br>
<p></p>
<app-comp-upcoming></app-comp-upcoming>
<br>
<p></p>
<app-comp-list-all></app-comp-list-all>
<br>
</body>
</html>