<!DOCTYPE html>
<html>
<body>
<h1>Cost Catcher</h1>
<p>Developed by SteBen Industries&trade;</p>

<br>
<p></p>
<app-comp-upcoming></app-comp-upcoming>
<br>
<p></p>
<app-comp-list-all></app-comp-list-all>
<br>

<!--<div class="row">
    <div class="column">
        Header
    </div>
    <div class="column">
        List
    </div>
</div>-->

<!-- <c-row>
    <c-col [sm]="6">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button cButton color="primary">Go somewhere</button>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col [sm]="6">
      <c-card class="mb-4">
        <c-card-body>
          <h5 cCardTitle>Card title</h5>
          <p cCardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button cButton color="primary">Go somewhere</button>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row> -->


<div class="modifierbuttons">
    <button id="addbill" onclick="addItem()">Add New Bill</button>
    <button id="removebill">Remove Bill</button>
</div>

    <!--<h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>-->
</body>
</html>