/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
}
/*.column {
  margin-top: 5%;
    text-align: center;
    border:#F4AF23;
    border-style: double;
    background-color: #3C1053;
    color: #D7A9E3;
    width: fit-content;
    font-size: 200%;
    margin: auto;
    padding: 1%;
    
  }*/
  

html{
    height: 100%;
    width: 100%;
    /*background:linear-gradient(#890C58, #3C1053);*/
}
h1{
font-size: 60px;
text-align: center;
background-clip: text;
-webkit-text-fill-color: transparent;
background-image: linear-gradient(#4AC9E3, #F4AF23);
}

li{
  display: inline;
  background-color: #3C1053;
  color: #D7A9E3;
  border-color: #F4AF23;
  font-size: 25px;
  float: left;
  width: 25%;
}

li a {
  display: block;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

li a:hover{
  background-color: #F4AF23;
}
li a:visited{
  color: #4AC9E3
}

p{
    font-size: 30px;
    text-align: center;
    color: #D7A9E3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #3C1053;
  color: #D7A9E3;
  border-color: #F4AF23;
}